@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="container" class="text-center style_1" onclick="myMove()">
    <h1 id="headline" class="display-4">Holiday</h1>
</div>

<section class="text-center style_1">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RD8VUaf0SzE?si=qPbcLigJQWrxNXEq" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
